/*general page style*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, button{
    font-family: 'Varela Round', sans-serif;
}

.container{
    margin: auto;
    width: 80%;
}

.layer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(28, 30, 32, 0.7);
}

.clear{
    clear: both;
}

h1, h2, h3, h4, h5, h6{
    font-family: montserrat,sans-serif;
}

.hover-opacity:hover{
    opacity: .8;
    transition: .25s;
}

.section-header{
    text-align: center;
}

.section-title{
    text-transform: capitalize;
    margin-bottom: 1vh;
    font-size: xx-large;
    font-weight: bold;
}

.underline{
    display: inline-block;
    margin: auto;
    margin-bottom: 10vh;
    height: .6vh;
    width: 3vw;
    background-color: rgb(196, 32, 32);
}

.pad-y{
    padding: 8vh 0vw;
}

/* header */
.header{
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    z-index: 10;
    width: 100%;
}

.header .logo{
    width: 10%;
    float: left;
}
.header .logo img{
    width: 80%;
    margin-top: 2vh;
}

.header .navbar{
    width: 90%;
    float: left;
    list-style: none;
    text-align: right;
    margin: 0px;
}
.header .navbar li{
    display: inline-block;
    margin-top: 2vh;
    text-align: center;
    width: 70px;
}
.header .navbar li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1vh 0vw;
}

.header .navbar li a:after,
.header .navbar li a.active:after{
    content: "";
    background-color: #6195ff;
    display: block;
    height: .5vh;
    transition: width .5s;
}

.header .navbar li a:after{
    width: 0%;
}

.header .navbar li a.active:after{
    width: 100%;
}

.header .navbar li a:hover:after{
    width: 100%;
}

/*home*/
.home{
    width: 100vw;
    height: 100vh;
    background-image: url(/images/background/background1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home-content{
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.home-title{
    text-transform: uppercase;
    color: white;
    font-size: 3.5rem;
}

.home-desc{
    margin: 1vh 0px;
    color: white;
    letter-spacing: 2px;
    line-height: 1.5;
}

.btn{
    width: 35%;
    padding: 1.5vh 0px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    font-size: 17px;
}

.btn-start{
    background-color: #ffff;
    text-transform: capitalize;
}

.btn-more{
    background-color: #6195ff;
    margin-left: 6px;
    color: white;
}