/*general page style*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Varela Round', sans-serif;
}

.container{
    margin: auto;
    width: 80%;
}

.layer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.5);
}

.clear{
    clear: both;
}

/* header */
.header{
    background-color: grey;
}

.header .logo{
    width: 40%;
    float: left;
}
.header .logo img{
    width: 25%;
}

.header .navbar{
    width: 60%;
    float: left;
    list-style: none;
}
.header .navbar li{
    display: inline-block;
}
.header .navbar li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 2vh .5vw;
}

/*home*/
.home{
    width: 100vw;
    height: 100vh;
    background-image: url(/images/background/background1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}